In [1]:
a=int(input())
b=int(input())
a=(280//7)*2
b=b*a
print(b)

 7
 10

800

In [ ]:
the electricity board has decided to charge money based on the units counsuption by a particular home. if the units are less then
or equal to 200 the cost of the each unit is 0.50 rupee, if the unit are less than or equal to 400, then the cost of each umit is 0.65p and 
100 rupees extra, if the units are less than or equal to 600 then the cost of each unit is 0.80p and 200 extra charge, if the unita are
greater than 600 then the cost of the each unit is 1.25 and 425 extra.
sample input
200
sample input
250

In [6]:
u=float(input())
if(u<=200):
    u=u*0.50
    print("Rs",u)
elif(u<=400):
    u=(u*0.65)+100
    print("Rs", u)
elif(u<=600):
    u=(u*0.80)+200
    print("Rs", u)
else:
    u=(u*1.25)+425
    print("Rs", u)

 800

Rs 1425.0

In [9]:
year=int(input())
if(year%4==0 and year%100!=0) or (year%400==0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

 2004

2004 is a leap year

In [12]:
fp=int(input())
fd=int(input())
fs=int(input())
sp=int(input())
sd=int(input())
ss=int(input())
ap=int(input())
ad=int(input())
as=int(input())
ffp=fp-(fp*fd)//100+fs
sfp=sp-(sp*sd)//100+ss
afp=ap-(ap*ad)//100+as
print("in flipkart rs:", ffp)
print("in snapdeal rs:", sfp)
print("in amazon rs:", afp)
if(ffp<=sfp and ffpM<=afp):
    print("choose flipkart")
elif(sfp<<ffp and sfp<=afp):
    print("choose snapdeal")
else:
    print("choose amazon")

SyntaxError: invalid syntax (2659727088.py, line 9)

In [ ]:
Rubina wants to buy sandwhich and went to near by shop there was a poster if any one comes up with a program for trendy number they will get a free
sandwhich for a lifetime, now ur task is for to get a sandwhich for lifetime a number is set to be a trendy number if it has three digits and the
    middle digit is divisible by 3

In [18]:
x=int(input())
if(((x%100)//10)%3==0):
    print("trendy number", x)
else:
    print("not a trendy number", x)

 145

not a trendy number 145

In [ ]:
su=int(input())
m=int(input())
t=int(input())
w=int(input())
th=int(input())
f=int(input())
sa=int(input())
r1=150*su
if(m<=8):
    r2=m*100
else:
    r2=8*100+(m-8)*115
if(t<=8):
    r3=t*100
else:
    r3=8*100+(t-8)*115
if(w<=8):
    r4=w*100
else:
    r4=8*100+(w-8)*115
if(th<=8):
    r5=th*100
else:
    r5=8*100+(th-8)*115
if(f<=8):
    r6=f*100
else:
    r6=8*100+(f-8)*115
r7=125*sa
print(r1+r2+r3+r4+r5+r6+r7)

In [ ]:
Ravi along with his friends decided to open castle back and later was found in the hotel . and the hotel was flourshing and there was a high demand for 
it. so ravi decided to modify teh tarrif accordingly . soo write a program to calculate the tarrif. the room rate is 20% higher in the peek season, april
to june and november to december.
sample input:
3 refers to
1500 amt oer day
2.no of days stayed in hotel